<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marina.scavengertriviahunt">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trivia_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trivia_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentClue">
            <intent-filter>
                <action android:name="edu.utep.cs.cs4330.sudoku.StudentCllue" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentQuiz">
            <intent-filter>
                <action android:name="edu.utep.cs.cs4330.sudoku.StudentQuiz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Password" />
        <activity android:name=".ScoreScreen" />
        <activity android:name=".TeacherQuiz"></activity>
    </application>

</manifest>